@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
FONT FAMILY
font-family: 'Roboto', sans-serif;
*/

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: black;
  line-height: normal;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::placeholder {
  color: #9ca3af !important;
}

/* 
* -----------------------------------------
* React Slick (Slider)
* -----------------------------------------
*/

.slick-dots > ul > li {
  width: 10px;
  height: 10px;
  margin: 0;
}

.slick-active > div {
  background-color: #603EBE !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
  }
}
